
<div *ngIf="gPSLokasyon">
    <h2><span jhiTranslate="roketApp.gPSLokasyon.detail.title">GPS Lokasyon</span> {{gPSLokasyon.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="roketApp.gPSLokasyon.enlem">Enlem</span></dt>
        <dd>
            <span>{{gPSLokasyon.enlem}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.gPSLokasyon.boylam">Boylam</span></dt>
        <dd>
            <span>{{gPSLokasyon.boylam}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gps-lokasyon/'+ gPSLokasyon.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
