<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myKuryeGecmisiLabel" jhiTranslate="roketApp.kuryeGecmisi.home.createOrEditLabel">Create or edit a Kurye Gecmisi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!kuryeGecmisi.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="kuryeGecmisi.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="roketApp.kuryeGecmisi.zaman" for="field_zaman">Zaman</label>
            <div class="d-flex">
                <input id="field_zaman" type="datetime-local" class="form-control" name="zaman" [(ngModel)]="kuryeGecmisi.zaman"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.zaman?.dirty && editForm.controls.zaman?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zaman?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.zaman?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="roketApp.kuryeGecmisi.statu" for="field_statu">Statu</label>
            <select class="form-control" name="statu" [(ngModel)]="kuryeGecmisi.statu" id="field_statu"  required>
                <option value="HAZIR">{{'roketApp.KURYE_STATU.HAZIR' | translate}}</option>
                <option value="CALISMIYOR">{{'roketApp.KURYE_STATU.CALISMIYOR' | translate}}</option>
                <option value="DAGITIMA_CIKTI">{{'roketApp.KURYE_STATU.DAGITIMA_CIKTI' | translate}}</option>
                <option value="TESLIM_ALINIYOR">{{'roketApp.KURYE_STATU.TESLIM_ALINIYOR' | translate}}</option>
                <option value="DAGITIMDA">{{'roketApp.KURYE_STATU.DAGITIMDA' | translate}}</option>
                <option value="MERKEZE_DONUYOR">{{'roketApp.KURYE_STATU.MERKEZE_DONUYOR' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.statu?.dirty && editForm.controls.statu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.statu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="roketApp.kuryeGecmisi.kurye" for="field_kurye">Kurye</label>
            <select class="form-control" id="field_kurye" name="kurye" [(ngModel)]="kuryeGecmisi.kuryeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="kuryeOption.id" *ngFor="let kuryeOption of kuryes; trackBy: trackKuryeById">{{kuryeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
