
<div *ngIf="mahalle">
    <h2><span jhiTranslate="roketApp.mahalle.detail.title">Mahalle</span> {{mahalle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="roketApp.mahalle.mahalleAd">Mahalle Ad</span></dt>
        <dd>
            <span>{{mahalle.mahalleAd}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.mahalle.postaKodu">Posta Kodu</span></dt>
        <dd>
            <span>{{mahalle.postaKodu}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.mahalle.semt">Semt</span></dt>
        <dd>
            <span>{{mahalle.semt}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.mahalle.ilce">Ilce</span></dt>
        <dd>
            <div *ngIf="mahalle.ilceId">
                <a [routerLink]="['/ilce', mahalle.ilceId]">{{mahalle.ilceId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mahalle/'+ mahalle.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
