<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMahalleLabel" jhiTranslate="roketApp.mahalle.home.createOrEditLabel">Create or edit a Mahalle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mahalle.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mahalle.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="roketApp.mahalle.adi" for="field_adi">Mahalle Ad</label>
            <input type="text" class="form-control" name="adi" id="field_adi"
                [(ngModel)]="mahalle.adi" required/>
            <div [hidden]="!(editForm.controls.adi?.dirty && editForm.controls.adi?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adi?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="roketApp.mahalle.postaKodu" for="field_postaKodu">Posta Kodu</label>
            <input type="text" class="form-control" name="postaKodu" id="field_postaKodu"
                [(ngModel)]="mahalle.postaKodu" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="roketApp.mahalle.semt" for="field_semt">Semt</label>
            <input type="text" class="form-control" name="semt" id="field_semt"
                [(ngModel)]="mahalle.semt" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="roketApp.mahalle.ilce" for="field_ilce">Ilce</label>
            <select class="form-control" id="field_ilce" name="ilce" [(ngModel)]="mahalle.ilceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ilceOption.id" *ngFor="let ilceOption of ilces; trackBy: trackIlceById">{{ilceOption.ad}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
