<div>
    <h2>
        <span jhiTranslate="roketApp.isci.home.title">Iscis</span>
        <button class="btn btn-primary float-right jh-create-entity create-isci" [routerLink]="['/', { outlets: { popup: ['isci-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="roketApp.isci.home.createLabel">
            Create new Isci
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="iscis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adi"><span jhiTranslate="roketApp.isci.adi">Adi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="soyadi"><span jhiTranslate="roketApp.isci.soyadi">Soyadi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eposta"><span jhiTranslate="roketApp.isci.eposta">Eposta</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telefon"><span jhiTranslate="roketApp.isci.telefon">Telefon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="teminatTutari"><span jhiTranslate="roketApp.isci.teminatTutari">Teminat Tutari</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maas"><span jhiTranslate="roketApp.isci.maas">Maas</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sicil"><span jhiTranslate="roketApp.isci.sicil">Sicil</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tckn"><span jhiTranslate="roketApp.isci.tckn">Tckn</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zimmetliMallar"><span jhiTranslate="roketApp.isci.zimmetliMallar">Zimmetli Mallar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="motorId"><span jhiTranslate="roketApp.isci.motor">Motor</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let isci of iscis ;trackBy: trackId">
                <td><a [routerLink]="['../isci', isci.id ]">{{isci.id}}</a></td>
                <td>{{isci.adi}}</td>
                <td>{{isci.soyadi}}</td>
                <td>{{isci.eposta}}</td>
                <td>{{isci.telefon}}</td>
                <td>{{isci.teminatTutari}}</td>
                <td>{{isci.maas}}</td>
                <td>{{isci.sicil}}</td>
                <td>{{isci.tckn}}</td>
                <td>{{isci.zimmetliMallar}}</td>
                <td>
                    <div *ngIf="isci.motorId">
                        <a [routerLink]="['../motor', isci.motorId  ]" >{{isci.motorId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../isci', isci.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'isci/'+ isci.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'isci/'+ isci.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="iscis && iscis.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
