<div>
    <h2>
        <span jhiTranslate="roketApp.musteri.home.title">Musteris</span>
        <button class="btn btn-primary float-right jh-create-entity create-musteri" [routerLink]="['/', { outlets: { popup: ['musteri-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="roketApp.musteri.home.createLabel">
            Create new Musteri
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="musteris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unvan"><span jhiTranslate="roketApp.musteri.unvan">Unvan</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eposta"><span jhiTranslate="roketApp.musteri.eposta">Eposta</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telefon"><span jhiTranslate="roketApp.musteri.telefon">Telefon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adresId"><span jhiTranslate="roketApp.musteri.adres">Adres</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let musteri of musteris ;trackBy: trackId">
                <td><a [routerLink]="['../musteri', musteri.id ]">{{musteri.id}}</a></td>
                <td>{{musteri.unvan}}</td>
                <td>{{musteri.eposta}}</td>
                <td>{{musteri.telefon}}</td>
                <td>
                    <div *ngIf="musteri.adresId">
                        <a [routerLink]="['../adres', musteri.adresId  ]" >{{musteri.adresId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../musteri', musteri.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'musteri/'+ musteri.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'musteri/'+ musteri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="musteris && musteris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
