
<div *ngIf="motor">
    <h2><span jhiTranslate="roketApp.motor.detail.title">Motor</span> {{motor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="roketApp.motor.numarasi">Numarasi</span></dt>
        <dd>
            <span>{{motor.numarasi}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.motor.marka">Marka</span></dt>
        <dd>
            <span>{{motor.marka}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.motor.model">Model</span></dt>
        <dd>
            <span>{{motor.model}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.motor.yil">Yil</span></dt>
        <dd>
            <span>{{motor.yil}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'motor/'+ motor.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
