
<div *ngIf="merkez">
    <h2><span jhiTranslate="roketApp.merkez.detail.title">Merkez</span> {{merkez.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="roketApp.merkez.adi">Adi</span></dt>
        <dd>
            <span>{{merkez.adi}}</span>
        </dd>
        <dt><span jhiTranslate="roketApp.merkez.mahalle">Mahalle</span></dt>
        <dd>
            <div *ngIf="merkez.mahalleId">
                <a [routerLink]="['/mahalle', merkez.mahalleId]">{{merkez.mahalleId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="roketApp.merkez.gpsLokasyon">Gps Lokasyon</span></dt>
        <dd>
            <div *ngIf="merkez.gpsLokasyonId">
                <a [routerLink]="['/gps-lokasyon', merkez.gpsLokasyonId]">{{merkez.gpsLokasyonId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="roketApp.merkez.adres">Adres</span></dt>
        <dd>
            <div *ngIf="merkez.adresId">
                <a [routerLink]="['/adres', merkez.adresId]">{{merkez.adresId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'merkez/'+ merkez.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
