<div>
    <h2>
        <span jhiTranslate="roketApp.merkez.home.title">Merkezs</span>
        <button class="btn btn-primary float-right jh-create-entity create-merkez" [routerLink]="['/', { outlets: { popup: ['merkez-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="roketApp.merkez.home.createLabel">
            Create new Merkez
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="merkezs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adi"><span jhiTranslate="roketApp.merkez.adi">Adi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mahalleId"><span jhiTranslate="roketApp.merkez.mahalle">Mahalle</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gpsLokasyonId"><span jhiTranslate="roketApp.merkez.gpsLokasyon">Gps Lokasyon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adresId"><span jhiTranslate="roketApp.merkez.adres">Adres</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let merkez of merkezs ;trackBy: trackId">
                <td><a [routerLink]="['../merkez', merkez.id ]">{{merkez.id}}</a></td>
                <td>{{merkez.adi}}</td>
                <td>
                    <div *ngIf="merkez.mahalleId">
                        <a [routerLink]="['../mahalle', merkez.mahalleId  ]" >{{merkez.mahalleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="merkez.gpsLokasyonId">
                        <a [routerLink]="['../gps-lokasyon', merkez.gpsLokasyonId  ]" >{{merkez.gpsLokasyonId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="merkez.adresId">
                        <a [routerLink]="['../adres', merkez.adresId  ]" >{{merkez.adresId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../merkez', merkez.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'merkez/'+ merkez.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'merkez/'+ merkez.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="merkezs && merkezs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
