<div>
    <h2>
        <span jhiTranslate="roketApp.isyeri.home.title">Isyeris</span>
        <button class="btn btn-primary float-right jh-create-entity create-isyeri" [routerLink]="['/', { outlets: { popup: ['isyeri-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="roketApp.isyeri.home.createLabel">
            Create new Isyeri
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="isyeris">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adi"><span jhiTranslate="roketApp.isyeri.adi">Adi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telefon"><span jhiTranslate="roketApp.isyeri.telefon">Telefon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="aciklama"><span jhiTranslate="roketApp.isyeri.aciklama">Aciklama</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="merkezId"><span jhiTranslate="roketApp.isyeri.merkez">Merkez</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gpsLokasyonId"><span jhiTranslate="roketApp.isyeri.gpsLokasyon">Gps Lokasyon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adresId"><span jhiTranslate="roketApp.isyeri.adres">Adres</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="musteriId"><span jhiTranslate="roketApp.isyeri.musteri">Musteri</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let isyeri of isyeris ;trackBy: trackId">
                <td><a [routerLink]="['../isyeri', isyeri.id ]">{{isyeri.id}}</a></td>
                <td>{{isyeri.adi}}</td>
                <td>{{isyeri.telefon}}</td>
                <td>{{isyeri.aciklama}}</td>
                <td>
                    <div *ngIf="isyeri.merkezId">
                        <a [routerLink]="['../merkez', isyeri.merkezId  ]" >{{isyeri.merkezId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="isyeri.gpsLokasyonId">
                        <a [routerLink]="['../gps-lokasyon', isyeri.gpsLokasyonId  ]" >{{isyeri.gpsLokasyonId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="isyeri.adresId">
                        <a [routerLink]="['../adres', isyeri.adresId  ]" >{{isyeri.adresId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="isyeri.musteriId">
                        <a [routerLink]="['../musteri', isyeri.musteriId  ]" >{{isyeri.musteriId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../isyeri', isyeri.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'isyeri/'+ isyeri.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'isyeri/'+ isyeri.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="isyeris && isyeris.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
